*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{width: 100%;
    height: 73vh;
    background-color: #080710;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 70%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
h1{
font-size: xx-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 16%;
    left: 0;
    margin-left: 30%;
    color: #ff512f;
}.logb {
    display: flex;
    position: relative;
    justify-content: left;
    
    
}
.logb input{
    font-weight: 600;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: #ff512f;
    border-radius: 10px;
    margin-left: 10%;
    cursor: pointer;
    margin-top: 4%;
    width: 10%;
    position: relative;
    left: 20%;
    
}
.logb input:hover{
    background: linear-gradient(
        #3264da,
        #50b1f2
    
    )
    ;
    
    transition: all 0.42s ;
    transform: translate(-5px,-6px);


}
form{
   
    width: 50%;
    background-color: rgba(255,255,255,0.13);
    overflow: hidden;
    transform: translate(-50%,-50%);
    margin-left: 45%;
    margin-top: 35%;
    position: relative;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px 50px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 50px;
    width: 50%;
    margin-left: 25%;
    background-color:#ff512f;
    color: #fbfbfc;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #50b1f2;
    transition: all 0.4s ease;
    transform: translate(5px, 5px)
}
